<div class="layout">
  <header>Angular Study</header>
  <div class="layout-body">
    <div class="navigation">
      <div class="lint"><a href="https://angular.cn/docs" target="_blank">angular</a></div>
      <div class="link" routerLink="/base/base-module">base-module</div>
      <div class="link" routerLink="/form/form-module">form-module</div>
      <div class="link"></div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer></footer>
</div>
